<!DOCTYPE html>
<html>
<head>
    <title><%= title %> - Microblog</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"
            integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
            integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
            crossorigin="anonymous"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
            integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
            crossorigin="anonymous"></script>
</head>
<body>
<!--navbar-inverse设置为黑色主题，navbar-default可设置为默认样式.
navbar-fixed-top可使导航栏固定在页面的顶部，但好像会离开原来的布局，使得下边元素上移，略为混乱-->
<nav class="navbar navbar-inverse">
    <!--container-fluid为响应式布局-->
    <div class="container-fluid">
        <div class="navbar-header">
            <!--创建响应式的导航栏,要折叠的内容必须包裹在带有 class .collapse、.navbar-collapse 的 <div> 中。
            'data-toggle'用于告诉 JavaScript 需要对按钮做什么，'data-target'指示要切换到哪一个元素-->
            <!--三个带有 class .icon-bar 的 <span> 创建所谓的按钮。这些会切换为 #nav-collapse 中的元素-->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Microblog</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">主页</a></li>
                <li><a href="/login">登录</a></li>
                <li><a href="/reg">注册</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div>
        <div class="alert alert-success">
            <% if (success) { %>
                <%= success %>
            <% } %>

            <% if (error) { %>
                <%= error %>
            <% } %>
        </div>
    </div>

    <!--form-horizontal代表水平表单，method表示以post方式发送数据-->
    <form class="form-horizontal" method="post">
        <fieldset>
            <legend>用户登录</legend>
            <!--control-group 自己会对齐表单和标签-->
            <div class="control-group">
                <!--在label标签中添加control-label属性后，label标签就变成了可控制的标签，可以通过不同的属性值来控制当前控件的状态。
                    Bootstrap默认情况下，control-label的文本采用右对齐方式。-->
                <label class="control-lable" for="username">用户名</label>
                <div class="controls">
                    <input type="text" class="input-xlarge" id="username" name="username">
                    <!--help-block为块级帮助文本-->
                    <p class="help-block">你的账户名称，用于登录和显示</p>
                </div>
            </div>
            <div class="control-group">
                <label class="control-lable" for="password">密码</label>
                <div class="controls">
                    <input type="password" class="input-xlarge" id="password" name="password">
                </div>
            </div>
            <br/>
            <div class="form-actions">
                <div class="controls">
                    <button type="submit" class="btn btn-primary">登录</button>
                </div>
            </div>
        </fieldset>
    </form>
    <br/>
    <div class="jumbotron text-center" style="margin-bottom:0">
        <p>底部内容</p>
    </div>
</div>
</body>
</html>
